<h1>Slidy Boi Level Editor</h1>
<div class="groupHub">
  <button *ngFor="let i of options" mat-raised-button [color]="materialColors[i]"
          (click)="selectCharacter(i)">{{i}}</button>
</div>
<br>
<div style="display: inline-block" class="board">

  <div *ngFor="let i of board">
    <button *ngFor="let j of i" mat-raised-button [color]="materialColors[j.val]" class="board-buttons"
            (click)="clickOnButton(j)"></button>
  </div>

</div>

<div style="display: inline-block;margin-left: 50px;vertical-align: top;border-style:solid;border-width: 1px;">
  <form>
      <textarea #outputTextArea [value]="outputText" [matTextareaAutosize]="true" placeholder=""
      ></textarea>
  </form>
  <button mat-raised-button [cdkCopyToClipboard]="outputText">COPY</button>
  <button mat-raised-button (click)="loadBoard(outputTextArea.value)">LOAD</button>
  <button mat-raised-button (click)="resetBoard()">RESET</button>
  <p>{{this.uninformedSearchService.bfs(this.board)}}</p>
</div>
