.board-buttons {
  margin-left: 1px;
  margin-right: 1px;
  width: 30px !important;
  height: 30px !important;
  min-width: unset !important;
  min-height: unset !important;
}

.mat-raised-button.mat-primary {
  background-color: #364CC9;
  color: #fff;
}

.mat-raised-button.mat-accent {
  background-color: #1C0A6D;
  color: #fff;
}

.mat-raised-button.mat-error {
  background-color: red;
  color: #fff;
}

.mat-raised-button.mat-warn {
  background-color: limegreen;
  color: #fff;
}

.groupHub button {
  margin-right: 2px;
  margin-left: 2px;
}

textarea {
  font-family: "Monospace", monospace;
  font-size: 24px;
}

@media screen and (max-width: 640px){
  .board-buttons{
    zoom: 80%;
  }
}

@media screen and (max-width: 1080px) {

}
